@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
}




/* menu-btn-hover */
.nav-item::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #3e4f3c;
  margin: auto;
  transition: 0.5s;
}

.nav-item:hover::after {
  width: 100%;
}

/* parallax */

.title {
  font-size: 130px;
  font-weight:800;
  line-height: 1.1;
  color: #f25b29;
  margin: 0 0 20px 0;
  z-index: 50;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;

}

.hero__img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 25;

}

.hero__content {
  text-align: center;
  position: relative;
  z-index: 100;
}

/* end parallax */


/* flipcard */

.container {
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.flipcard {
  perspective: 1000px;
  margin-bottom: 1.5rem;
}
.flipcard .flipcard-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flipcard .card-front, 
.flipcard .card-back {
  width: 100%;
  height: 100%;
  position: relative;
  backface-visibility: hidden;
  transition: all .3s;
}
.flipcard .card-front {
  z-index: 2;
}
.flipcard .card-front::after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  bottom: -1px;
  right: -1px;
  border-width: 16px 16px 0 0;
  border-style: solid;
  border-color: #999 #fff;
  border-radius: .25rem 0 0 0;
}
.flipcard .card-back {
  position: absolute;
  top: 0;
  text-align: left;
  z-index: 1;
  transform: rotateY(180deg);
  overflow-y: auto;
}
/* the flippy magic */ 
.flipcard:hover .flipcard-wrap {
  transform: rotateY(-180deg);
}
/* end flipcard */

/* footer */
.blog-footer {
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 0.05rem solid #e5e5e5;
}
/* end footer */

.navbar {
  background-color: #ffffff55;
}

#titel02 {

  font-size: 100px;
}

/* ย่อ */
@media (max-width: 768px) {
  .hero .title {
    font-size: 110px;
    text-align: center;
    
  }
  
  #titel02 {
    font-size: 70px;
  }


 

}







